.modal {
  pointer-events: visible;
  position: fixed;
  min-height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(181, 197, 273, 0.5);
}

.box {
  background-color: #ffffff;
  position: absolute;
  height: 90%;
  width: 90%;
  border-radius: 20px;
}
.header {
  height: 100px;
}
.title {
  color: #22d1ee;
  font-size: 24px;
  margin: 0 20px;
  outline: none;
  border: none;
  border-bottom: 2px solid #22d1ee;
}
.icon {
  margin: 0 20px;
  cursor: pointer;
}
.button {
  border: 1px solid #46c3db;
  color: #46c3db;
  margin: 20px;
}
.button:hover {
  background-color: #46c3db;
  color: #fff;
  transition: all 0.5s ease;
}
