.home {
  height: 100vh;
}
.header {
  height: 100px;
  margin: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.userInfo {
  display: flex;
  align-items: center;
}
.username {
  font-size: 1.3rem;
  margin: 0 15px;
  font-weight: 600;
}
.rightside {
  position: relative;
}
.dropdown {
  margin-top: 10px;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  text-align: center;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
  border-radius: 10px;
}
/*********content part************/
.content {
  display: flex;
  margin: 0 20px;
}
/*left*/
.left {
  flex: 1;
  max-width: 100%;
  overflow: hidden;
}
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--secondary-color);
}
.notebox {
  display: flex;
  position: relative;
  justify-content: space-between;
}

.box {
  height: 200px;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
}
.image {
  border-radius: 20px 20px 0 0;
}
.notetext {
  height: 50px;
  display: flex;
  justify-content: center;
  padding-top: 5px;
}
.notetext > p {
  margin: 0;
  color: #fff;
  width: 160px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.notes {
  background-color: rgba(0, 0, 0, 0.5);
  height: 400px;
  overflow-y: scroll;
  padding: 0 20px;
}
.notes::-webkit-scrollbar {
  width: 5px;
  background-color: transparent;
}
.notetext1 {
  color: white;
  flex: 1;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding-right: 50px;
}
.notedate {
  font-size: 0.8rem;
  color: white;
}
/*space*/
.space {
  width: 10%;
}
/*right*/
.right {
  flex: 1;
  max-width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.taskbox {
  flex: 1;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0 20px;
  overflow-y: scroll;
}
.taskbox::-webkit-scrollbar {
  width: 5px;
  background-color: transparent;
}
/*task*/
.task {
  display: flex;
  justify-content: space-between;
}
.taskLeft {
  color: white;
  flex: 1;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding-right: 5%;
  margin: 10px 0 0 0;
}
.taskDate {
  margin: 0 0 10px 0;
  color: rgb(200, 193, 193);
  font-size: 0.8rem;
}
.taskRight {
  color: white;
}
.taskStatus {
  font-size: 0.9rem;
  color: white;
}
.horline {
  height: 2px;
  width: 100%;
  background-color: #000;
  margin-bottom: 10px;
}
