.home {
  height: 100vh;
}
.header {
  height: 100px;
  margin: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.userInfo {
  display: flex;
  align-items: center;
}
.username {
  font-size: 1.3rem;
  margin: 0 15px;
  font-weight: 600;
}
.rightside {
  position: relative;
}
.dropdown {
  margin-top: 10px;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  text-align: center;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
  border-radius: 10px;
}
/*********content part************/
.content {
  display: flex;
  margin: 0 20px;
}
/*left*/
.left {
  flex: 1;
}
.notebox {
  display: flex;
  justify-content: space-between;
  overflow-x: hidden;
}
.box {
  height: 200px;
  width: 200px;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.5);
}
.image {
  border-radius: 20px 20px 0 0;
  width: 200px;
}
/*right*/
.right {
  flex: 1;
}
