.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.header {
  height: 100px;
  margin: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}
.footer {
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--main-color);
}
.input {
  outline: none;
  border: none;
  height: 45px;
  width: 320px;
  background-color: rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
  padding-right: 50px;
  padding-left: 10px;
  color: var(--main-color);
}
.button {
  border: 1px solid var(--main-color);
  color: var(--main-color);
}
.button:hover {
  border: 2px solid var(--main-color);
  font-weight: bolder;
}
.input::placeholder {
  color: var(--main-color);
}
.inputBox {
  position: relative;
  width: max-content;
}
.icon {
  color: white;
  position: absolute;
  bottom: 50%;
  right: 10px;
  cursor: pointer;
}
.btnCenter {
  display: flex;
  justify-content: center;
}

.error {
  color: #fff;
  font-size: 0.9rem;
  text-align: center;
  text-shadow: 1px 1px 1px var(--error-color);
  height: 45px;
}
